#IDE 文件忽略
/.idea

#日志文件忽略
!/logs/keep.txt
/logs

#主要配置文件忽略
/conf/app.conf

#忽略go.sum
go.sum

#忽略swagger
/swagger

#忽略文档生成的路由文件
!/routers/router.go
/routers

#忽略静态资源文件
!/static/default/*





.vscode/launch.json
